<form action="/result">
  <div class="form-group">
     <label for="cents">Enter a whole number of cents
     </label>
     <input id="cents" name="cents" class="form-control" type="number">
  </div>
  <div class="form-group">
     <label for="pennies">Pennies
     </label>
     <input id="pennies" name="pennies" class="form-control" type="number">
  </div>
  <div class="form-group">
     <label for="nickles">Nickles
     </label>
     <input id="nickles" name="nickles" class="form-control" type="number">
  </div>
  <div class="form-group">
     <label for="dimes">Dimes
     </label>
     <input id="dimes" name="dimes" class="form-control" type="number">
  </div>
  <div class="form-group">
     <label for="quarters">Quarters
     </label>
     <input id="quarters" name="quarters" class="form-control" type="number">
  </div>
  
  <button type="submit" class="">Submit</button>
</form>
